@import "src/styles/scss/theme";

$user-type-background: whitesmoke;
$size: 17;
$semicircular-size: $size + px;
$semicircular-length: ($size * 2) + px;

.user-type__header {
  background-color: white !important;
  color: #333333 !important;

  & .header__btn--new {
    border-radius: 6px;
    height: 40px;
    font-weight: bold;
  }
}

.user-type--sider {
  margin-left: 60px;
  position: relative;

  & .ant-menu {
    box-shadow: $box-shadow;
    border-radius: 6px;
    padding: 40px 40px;
    position: fixed;
  }


  & .ant-menu-item {
    color: $primary-color;
    text-align: center !important;
    font-weight: 600;
    border-radius: 6px;
    background-color: transparent;
  }

  & .ant-menu-item:focus {
    background-color: transparent;
  }

  & .ant-menu-item-selected {
    background-color: $primary-color !important;
    color: white;
    font-weight: bold;
  }


  & .user-type--menu {
    background-color: white;
    border: none;

  }

}

.user-type__content {
  box-shadow: $box-shadow;
  padding: 20px;
  border-radius: 6px;
}

.user-type__section {
  & .ant-input {
    outline: none;
    border: none;
    border-bottom: 1px solid $primary-color;
    border-radius: 0;
    font-weight: 600;
    color: $link-color;
  }

  & .ant-input:focus {
    box-shadow: none;
    color: $text-color;
  }

  & .ant-btn {
    border-radius: 6px;
    font-weight: 600;
    height: 35px;
  }

  & .user-type-collapse-group .ant-space {
    background-color: $secondary-color;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    border-radius: 6px;
    color: $primary-color;

  }

  & .ant-collapse {
    border: none;
    border-radius: 6px;
    margin-bottom: 20px;
  }

  & .ant-checkbox-inner {
    border: $text-color 1px solid;
  }

  & .ant-collapse-item {
    border: none;
    margin: 0 20px;
    background-color: transparent;
    font-weight: bold;

  }

  & .ant-collapse-content {
    border: none;
    background-color: transparent;
  }

  & .collapse-item {
    border: none;
    border-top: 1px solid #e6e8e9;
  }

  & .ant-collapse-item:last-child {
    border-bottom: none;
  }

  & .ant-collapse-header .ant-collapse-arrow {
    position: absolute;
    right: 95% !important;

  }
}

.user-type-section__radio-group {
  display: flex;
  justify-content: space-around;
}