$primary-color: #1d3557;
$secondary-color: #eaf3fa;
$link-color: #d1d5d9;
$warning-color: #fdff79;
$error-color: #e63946;
$success-color: #52c41a;
$heading-color: #1b1f29;
$text-color: #9299a0;
$text-color-secondary: #2a3240;
$border-color-base: #000000;
$box-shadow: 0 0 8px 1px rgba(60, 70, 80, .2)